.cabecalhoPrincipal .container{
display:flex;
align-items: center;
justify-content: space-between;
}
.cabecalhoPrincipal-nav{
    display:flex;
    margin-left: 5px;
}
.rodapePrincipal-patrocinadores .container{
display: flex;
justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display:flex;
}
.videoSobre .container{
    display:flex;
    /* justify-content: space-around; */
}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.videoSobre-sobre-list{
    flex-grow: 1;
}
.videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
}



.rodapePrincipal-navMap-list{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 250px;
}
.conteudoPrincipal-cursos{
display:flex;
flex-wrap: wrap;
justify-content: flex-start;

}
.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-right: 0;
}


/* Parte Mobile*/
@media(max-width: 768px){
.cabecalhoPrincipal-nav{
    display:flex;
    flex-direction: column;
}
.cabecalhoPrincipal .container{
    display:flex;
    align-items: initial;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.conteudoPrincipal-cursos{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.conteudoPrincipal-cursos-link{
    width: 100%;
    margin: 1%;
}
.rodapePrincipal-navMap-list{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    height: auto;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;    
}
.rodapePrincipal-contatoForm{
    width: 100%;
    margin: 0;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin:0;
}
.rodapePrincipal-contatoForm-fieldset{
    display:flex;
    justify-content: center;
}
.cabecalhoPrincipal-nav-link-app{
    order:-1;
}
.videoSobre .container{
    flex-direction: column;
}
.videoSobre-video{
    margin: 0 auto;
}
}